*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    background: linear-gradient(to top,olive);
    background-image: url("coffee.jpg");
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
  


}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
color: khaki;
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 20px;
float: left;
padding-top: 10px;
position: sticky;

}
.menu{
width: 400px;
float: left;
height: 70px;
}
ul{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    transform: translateY(-50%);

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: large;
}

ul li a{
    text-decoration: wavy;
    color:darkorange;
    font-family: Arial, Helvetica, sans-serif;
    transition: o.4s ease-in-out;
}

ul li a:hover{
   color: darkgreen; 
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    position: sticky;

}

.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 2oopx;
    height: 20px;
    background: lavenderblush;
    border: 1px solid darkred;
    margin-top: 13px;
    color: antiquewhite;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom: 5px;
    border-top-left-radius: 5px;


}
.btn{
    width: 100px;
    height: 40px;
    background: chocolate;
    border: 2px solid darkred;
    margin-top: 13px;
    color: antiquewhite;
    font-size: medium;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

#footer{
    position: sticky;
}